<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="lttpspoiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <lttpspoiler.Properties.Settings>
            <setting name="mainFrameItemsCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainFrameObjectivesCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainFrameEnemiesCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainFrameEntranceCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainFrameLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </lttpspoiler.Properties.Settings>
    </userSettings>
</configuration>
